html{
	font-size: 50%;
}
@media(max-width: 1285px){
	html{
		font-size: 50%;
	}
}
@media(max-width:  4880px){

	html{
		font-size: 45%;
	}
}
@media(max-width:  4390px){
	html{
		font-size: 40%;
	}
}
@media(max-width:  3990px){
	html{
		font-size: 35%;
	}
}
@media(max-width:  3460px){
	html{
		font-size: 30%;
	}
}
@media(max-width:  2900px){
	html{
		font-size: 25%;
	}
}
@media(max-width:  2400px){
	html{
		font-size: 20%;
	}
}
@media(max-width:  1950px){
	html{
		font-size: 10%;
	}
}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

}


.header1{
	font-size: 20rem;
	font-family: var(--title);
	text-align: center;
	font-weight: bolder;
}
.header2{
	font-family: var(--title);
	font-size: 10rem;
	text-align: center;
	font-weight: bold;
}
.photo1{
	height: 100rem;
	width: 100rem;
	margin-top: 80rem;
	margin-left: 120rem;
	filter: brightness(120%);
   	filter: contrast(120%);
	filter: drop-shadow(5rem 5rem 10rem grey);

}
.p1{
	font-size: 20rem;
	font-style: italic;
	font-weight: bold;
	position: relative;
	left: 220rem;
	bottom: 90rem;
	background: skyblue;
	width: 50rem;
	border-bottom-left-radius: 30rem;
	border-top-right-radius: 30rem;
	padding-left: 10rem;
}
.p2{
	font-size: 20rem;
	font-style: italic ;
	font-weight: bold;
	position: relative;
	left: 220rem;
	bottom: 90rem;
	background: hotpink;
	width: 220rem;
	padding-left: 10rem;
	border-top-right-radius:30rem ;
	border-bottom-left-radius: 30rem;

}
.p3{
	font-size: 20rem;
	font-style: italic ;
	font-weight: bold;
	position: relative;
	left: 220rem;
	bottom: 90rem;
	background: yellowgreen;
	width: 370rem;
	padding-left: 10rem;
	border-top-right-radius:30rem ;
	border-bottom-left-radius: 30rem;
}
.photo2{
	height: 400rem;
	width: 100%;
}
.p4{
	font-size: 25rem;
	color: yellowgreen;
	font-weight: bold;
	position: relative;
	left: 260rem;
	bottom: 375rem;
}
.p5{
	font-size: 13rem;
	color: #003300;
	font-style: italic;
	font-weight: bolder;
	position: relative;
	left: 90rem;
	bottom: 280rem;
}
.p6{
	font-size: 15rem;
	color: #003300;
	font-style: italic;
	font-weight: bold;
	position: relative;
	left: 330rem;
	bottom: 320rem;
	font-weight: bolder;
}
.p7{
	font-size: 12rem;
	font-style: italic;
	width: 150rem;
	position: relative;
	left: 130rem;
	bottom: 280rem;
	color: black;
	font-weight: bolder;
}
.p8{
	font-size: 12rem;
	font-style: italic;
	font-weight: bolder;
	position: relative;
	left: 350rem;
	bottom: 380rem;
	color: black;
	width: 100rem;
}
.p9{
	font-size: 25rem;
	color: black;
	text-align: center;
	position: relative;
	bottom: 120rem;
	border-bottom: 1rem solid black ;
}
.gallery_photo{
	display: block;
	float: left;
	width: 230rem;
	height: 230rem;
	margin-left: 15rem;
	padding:3rem ;
	border-radius: 10rem;
	
}
.gallery{
	position: relative;
	bottom: 40rem;
	float: right;
	margin-left: 20rem;

}
@media(max-width: 400px){
	.gallery_photo{
		width: 250rem;
		height: 250rem;
	}
}
.gallery_photo:hover{
	transform: scale(1.01,1.01);
	transition: .2s ;

}
.edit:hover{
	transform: scale(1.01,1.01);

}
.container{
	font-size: 12rem;
	text-align: center;
	background: #1a252f;
	color: white;
	height: 100rem;
	margin-top: 20rem;
}
.icon{
	padding: 20rem;
}
.fb{
	position: relative;
	right: 8rem;
}
.inst{
	position: relative;
	left: 2rem;
}
.yt{
	position: relative;
	left: 12rem;
}
.twit{
	position: relative;
	left: 20rem;
}

.copyright{
	position: relative;
	top: 10rem;
}
.about_me{
	font-size: 20rem;
	text-align: center;
	color: yellowgreen;
	font-weight: bold;
}
.difination{
font-size: 10rem;
text-align: center;
color: black;
font-style: oblique;
}